In [2]:
import pandas as pd

In [51]:
future_file = "Future50.csv"
future_df = pd.read_csv(future_file)
future_df.head()

,Rank,Restaurant,Location,State,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,Seattle,Washington,24,130.50%,26,116.70%,1150,No
1,2,Clean Juice,Charlotte,North Carolina,44,121.90%,105,94.40%,560,Yes
2,3,Slapfish,Huntington Beach,California,21,81.00%,21,90.90%,1370,Yes
3,4,Clean Eatz,Wilmington,North Carolina,25,79.70%,46,58.60%,685,Yes
4,5,Pokeworks,Irvine,California,49,77.10%,50,56.30%,1210,Yes

In [52]:
independence_file = "Independence100.csv"
independence_df = pd.read_csv(independence_file)
independence_df.head()

,Rank,Restaurant,Sales,Average Check,City,State,Meals Served
0,1,Carmine's (Times Square),39080335.0,40,New York,New York,469803.0
1,2,The Boathouse Orlando,35218364.0,43,Orlando,Florida,820819.0
2,3,Old Ebbitt Grill,29104017.0,33,Washington,Washington D.C,892830.0
3,4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,New York,198500.0
4,5,Bryant Park Grill & Cafe,26900000.0,62,New York,New York,403000.0

In [53]:
top_file = "Top250.csv"
top_df = pd.read_csv(top_file)
top_df.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Unnamed: 8,Segment_Category
0,1,McDonald's,NaN,40412,4.90%,13846,-0.50%,NaN,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.60%,15049,3.00%,NaN,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.00%,2470,5.00%,NaN,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.00%,6766,2.70%,NaN,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.70%,7346,0.20%,NaN,NaN,Quick Service & Burger

In [54]:
independence_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           100 non-null    int64
 1   Restaurant     100 non-null    object
 2   Sales          100 non-null    float64
 3   Average Check  100 non-null    int64
 4   City           100 non-null    object
 5   State          100 non-null    object
 6   Meals Served   100 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 5.6+ KB

In [55]:
future_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         50 non-null     int64
 1   Restaurant   50 non-null     object
 2   Location     50 non-null     object
 3   State        50 non-null     object
 4   Sales        50 non-null     int64
 5   YOY_Sales    50 non-null     object
 6   Units        50 non-null     int64
 7   YOY_Units    50 non-null     object
 8   Unit_Volume  50 non-null     int64
 9   Franchising  50 non-null     object
dtypes: int64(4), object(6)
memory usage: 4.0+ KB

In [56]:
top_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              250 non-null    int64
 1   Restaurant        250 non-null    object
 2   Content           33 non-null     object
 3   Sales             250 non-null    int64
 4   YOY_Sales         250 non-null    object
 5   Units             250 non-null    int64
 6   YOY_Units         250 non-null    object
 7   Headquarters      52 non-null     object
 8   Unnamed: 8        52 non-null     object
 9   Segment_Category  250 non-null    object
dtypes: int64(3), object(7)
memory usage: 19.7+ KB

In [57]:
top_df.dropna(axis=0, how='all', subset=['Headquarters'], inplace=True)
top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 65 to 149
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              52 non-null     int64
 1   Restaurant        52 non-null     object
 2   Content           1 non-null      object
 3   Sales             52 non-null     int64
 4   YOY_Sales         52 non-null     object
 5   Units             52 non-null     int64
 6   YOY_Units         52 non-null     object
 7   Headquarters      52 non-null     object
 8   Unnamed: 8        52 non-null     object
 9   Segment_Category  52 non-null     object
dtypes: int64(3), object(7)
memory usage: 4.5+ KB

In [58]:
new_future_df=future_df.convert_dtypes()
new_future_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         50 non-null     Int64
 1   Restaurant   50 non-null     string
 2   Location     50 non-null     string
 3   State        50 non-null     string
 4   Sales        50 non-null     Int64
 5   YOY_Sales    50 non-null     string
 6   Units        50 non-null     Int64
 7   YOY_Units    50 non-null     string
 8   Unit_Volume  50 non-null     Int64
 9   Franchising  50 non-null     string
dtypes: Int64(4), string(6)
memory usage: 4.2 KB

In [61]:
new_top_df=top_df.convert_dtypes()
new_top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 65 to 149
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              52 non-null     Int64
 1   Restaurant        52 non-null     string
 2   Content           1 non-null      string
 3   Sales             52 non-null     Int64
 4   YOY_Sales         52 non-null     string
 5   Units             52 non-null     Int64
 6   YOY_Units         52 non-null     string
 7   Headquarters      52 non-null     string
 8   Unnamed: 8        52 non-null     string
 9   Segment_Category  52 non-null     string
dtypes: Int64(3), string(7)
memory usage: 4.6 KB

In [62]:
new_independence_df=independence_df.convert_dtypes()
new_independence_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           100 non-null    Int64
 1   Restaurant     100 non-null    string
 2   Sales          100 non-null    Int64
 3   Average Check  100 non-null    Int64
 4   City           100 non-null    string
 5   State          100 non-null    string
 6   Meals Served   100 non-null    Int64
dtypes: Int64(4), string(3)
memory usage: 6.0 KB

In [64]:
new_future_df=new_future_df[['Rank', 'Restaurant', 'Location', 'State']]
new_future_df

    Rank                        Restaurant          Location           State
0      1                        Evergreens           Seattle      Washington
1      2                       Clean Juice         Charlotte  North Carolina
2      3                          Slapfish  Huntington Beach      California
3      4                        Clean Eatz        Wilmington  North Carolina
4      5                         Pokeworks            Irvine      California
5      6                       Playa Bowls            Belmar      New Jersey
6      7                  The Simple Greek         Blue Bell    Pennsylvania
7      8                         Melt Shop          New York        New York
8      9                        Creamistry       Yorba Linda      California
9     10              Joella's Hot Chicken        Louisville        Kentucky
10    11                     Eggs Up Grill       Spartanburg  South Carolina
11    12                          Dog Haus          Pasadena      California
12    13                  Teriyaki Madness            Denver        Colorado
13    14                    Bluestone Lane          New York        New York
14    15                 Original ChopShop             Plano           Texas
15    16                 Rapid Fired Pizza         Kettering            Ohio
16    17           Ike's Love & Sandwiches     San Francisco      California
17    18                    Vitality Bowls         San Ramon      California
18    19         Hawkers Asian Street Fare           Orlando         Florida
19    20          Maple Street Biscuit Co.       Orange Park         Florida
20    21                   Bulla Gastrobar             Doral         Florida
21    22                       Duck Donuts     Mechanicsburg    Pennsylvania
22    23                   The Little Beet          New York        New York
23    24                   Joe & The Juice          New York        New York
24    25                          By Chloe          New York        New York
25    26              Sugarfire Smokehouse          Olivette         Montana
26    27               Bibibop Asian Grill          Columbus            Ohio
27    28               Bubbakoo's Burritos     Wall Township      New Jersey
28    29                Dos Toros Taqueria          New York        New York
29    30                   The Pizza Press           Anaheim      California
30    31                    The Lost Cajun            Frisco           Texas
31    32                        Just Salad          New York        New York
32    33        Jeni's Splendid Ice Creams          Columbus            Ohio
33    34                          Boqueria          New York        New York
34    35         Quickway Japanese Hibachi           Fairfax        Virginia
35    36                         Surcheros           Douglas         Georgia
36    37                   Famous Toastery         Charlotte  North Carolina
37    38                  Culinary Dropout        Scottsdale          Arizon
38    39                     Condado Tacos          Columbus            Ohio
39    40           The Flying Biscuit Cafe           Atlanta         Georgia
40    41             Blue Sushi Sake Grill             Omaha        Nebraska
41    42                    The Human Bean           Medford          Oregon
42    43   Spitz Mediterranean Street Food       Los Angeles      California
43    44                      Tacos 4 Life            Conway        Arkansas
44    45    Pita Mediterranean Street Food          Fairburn         Georgia
45    46                       LA Crawfish           McAllen           Texas
46    47                            &pizza        Washington      Washington
47    48               Super Duper Burgers     San Francisco      California
48    49                   StoneFire Grill      Agoura Hills      California
49    50  Gus's World Famous Fried Chicken           Memphis       Tennessee

In [69]:
renamed_future_df=new_future_df.rename(columns={"Location": "City"})
renamed_future_df

    Rank                        Restaurant              City           State
0      1                        Evergreens           Seattle      Washington
1      2                       Clean Juice         Charlotte  North Carolina
2      3                          Slapfish  Huntington Beach      California
3      4                        Clean Eatz        Wilmington  North Carolina
4      5                         Pokeworks            Irvine      California
5      6                       Playa Bowls            Belmar      New Jersey
6      7                  The Simple Greek         Blue Bell    Pennsylvania
7      8                         Melt Shop          New York        New York
8      9                        Creamistry       Yorba Linda      California
9     10              Joella's Hot Chicken        Louisville        Kentucky
10    11                     Eggs Up Grill       Spartanburg  South Carolina
11    12                          Dog Haus          Pasadena      California
12    13                  Teriyaki Madness            Denver        Colorado
13    14                    Bluestone Lane          New York        New York
14    15                 Original ChopShop             Plano           Texas
15    16                 Rapid Fired Pizza         Kettering            Ohio
16    17           Ike's Love & Sandwiches     San Francisco      California
17    18                    Vitality Bowls         San Ramon      California
18    19         Hawkers Asian Street Fare           Orlando         Florida
19    20          Maple Street Biscuit Co.       Orange Park         Florida
20    21                   Bulla Gastrobar             Doral         Florida
21    22                       Duck Donuts     Mechanicsburg    Pennsylvania
22    23                   The Little Beet          New York        New York
23    24                   Joe & The Juice          New York        New York
24    25                          By Chloe          New York        New York
25    26              Sugarfire Smokehouse          Olivette         Montana
26    27               Bibibop Asian Grill          Columbus            Ohio
27    28               Bubbakoo's Burritos     Wall Township      New Jersey
28    29                Dos Toros Taqueria          New York        New York
29    30                   The Pizza Press           Anaheim      California
30    31                    The Lost Cajun            Frisco           Texas
31    32                        Just Salad          New York        New York
32    33        Jeni's Splendid Ice Creams          Columbus            Ohio
33    34                          Boqueria          New York        New York
34    35         Quickway Japanese Hibachi           Fairfax        Virginia
35    36                         Surcheros           Douglas         Georgia
36    37                   Famous Toastery         Charlotte  North Carolina
37    38                  Culinary Dropout        Scottsdale          Arizon
38    39                     Condado Tacos          Columbus            Ohio
39    40           The Flying Biscuit Cafe           Atlanta         Georgia
40    41             Blue Sushi Sake Grill             Omaha        Nebraska
41    42                    The Human Bean           Medford          Oregon
42    43   Spitz Mediterranean Street Food       Los Angeles      California
43    44                      Tacos 4 Life            Conway        Arkansas
44    45    Pita Mediterranean Street Food          Fairburn         Georgia
45    46                       LA Crawfish           McAllen           Texas
46    47                            &pizza        Washington      Washington
47    48               Super Duper Burgers     San Francisco      California
48    49                   StoneFire Grill      Agoura Hills      California
49    50  Gus's World Famous Fried Chicken           Memphis       Tennessee

In [63]:
new_independence_df=new_independence_df[['Rank', 'Restaurant', 'City', 'State']]
new_independence_df

    Rank                           Restaurant        City           State
0      1             Carmine's (Times Square)    New York        New York
1      2                The Boathouse Orlando    Orlando          Florida
2      3                     Old Ebbitt Grill  Washington  Washington D.C
3      4  LAVO Italian Restaurant & Nightclub    New York        New York
4      5             Bryant Park Grill & Cafe    New York        New York
..   ...                                  ...         ...             ...
95    96                 George's at the Cove    La Jolla      California
96    97                            Le Coucou    New York        New York
97    98                              Mi Vida  Washington  Washington D.C
98    99                               Upland    New York        New York
99   100               Virgil's Real Barbecue   Las Vegas          Nevada

[100 rows x 4 columns]

In [73]:
new_top_df=new_top_df[['Rank', 'Restaurant', 'Headquarters', 'Unnamed: 8']]
new_top_df

,Rank,Restaurant,Headquarters,Unnamed: 8
65,66,Tim Hortons,Toronto,Ontario
66,67,Ruth's Chris Steak House,Winter Park,Florida
77,78,Dave & Buster's,Dallas,Texas
101,102,Chuy's,Austin,Texas
102,103,O'Charley's,Nashville,Tennessee
103,104,Pollo Tropical,Miami,Florida
104,105,Maggiano's Little Italy,Dallas,Texas
105,106,Cicis,Coppell,Texas
106,107,Long John Silver's,Louisville,Kentucky
107,108,Saltgrass Steak House,Houston,Texas
108,109,Chuck E. Cheese's,Irving,Texas
109,110,Taco John's,Cheyenne,Wyoming
110,111,Texas de Brazil Churrascaria,Dallas,Texas
111,112,Cold Stone Creamery,Scottsdale,Arizon
112,113,Blaze Pizza,Pasadena,California
113,114,Peet's Coffee,Emeryville,California
114,115,Dickey's Barbecue Pit,Dallas,Texas
115,116,Zoes Kitchen,Plano,Texas
116,117,Corner Bakery_Cafe,Dallas,Texas
117,118,Krystal Co.,Dunwoody,Georgia
118,119,Benihana,Doral,Florida
119,120,Cooper's Hawk Winery & Restaurants,Countryside,Illinois
120,121,Big Boy/Frisch's Big Boy,Warren,Michigan
121,122,Black Bear Diner,Redding,California
122,123,Twin Peaks,Dallas,Texas
123,124,Schlotzsky's,Atlanta,Georgia
124,125,Jet's Pizza,Sterling Heights,Michigan
125,126,Famous Dave's,Minnetonka,Minnessota
126,127,On The Border Mexican Grill & Cantina,Irving,Texas
127,128,Fogo de Chao,Plano,Texas
128,129,Ninety Nine Restaurants,Woburn,Massachusetts
129,130,Village Inn,Denver,Colorado
130,131,Taco Cabana,Addison,Texas
131,132,Fleming's Prime Steakhouse & Wine Bar,Tampa,Florida
132,133,Caribou Coffee,Minneapolis,Minnessota
133,134,Jack's,Birmingham,Alabama
134,135,Au Bon Pain,Boston,Massachusetts
135,136,Bar Louie,Addison,Texas
136,137,Sarku Japan,New York,New York
137,138,Old Chicago Pizza & Taproom,Chattanooga,Tennessee
138,139,Rally's Hamburgers,Lexington,Kentucky
139,140,Torchy's Tacos,Austin,Texas
140,141,Pizza Ranch,Orange City,Idaho
141,142,Pappadeaux Seafood Kitchen,Houston,Texas
142,143,Braum's Ice Cream & Dairy Stores,Oklahoma City,Oklahoma
143,144,Pei Wei Asian Diner,Irving,Texas
144,145,Cafe Rio Mexican Grill,Salt Lake City,Utah
145,146,Morton's The Steakhouse,Houston,Texas
146,147,Smashburger,Denver,Colorado
147,148,Wienerschnitzel,Irvine,California
148,149,Sizzler,Mission Viejo,California
149,150,Seasons 52,Orlando,Florida

In [75]:
new_top_df=new_top_df.rename(columns={"Headquarters": "City", "Unnamed: 8": "State"})
new_top_df

,Rank,Restaurant,City,State
65,66,Tim Hortons,Toronto,Ontario
66,67,Ruth's Chris Steak House,Winter Park,Florida
77,78,Dave & Buster's,Dallas,Texas
101,102,Chuy's,Austin,Texas
102,103,O'Charley's,Nashville,Tennessee
103,104,Pollo Tropical,Miami,Florida
104,105,Maggiano's Little Italy,Dallas,Texas
105,106,Cicis,Coppell,Texas
106,107,Long John Silver's,Louisville,Kentucky
107,108,Saltgrass Steak House,Houston,Texas
108,109,Chuck E. Cheese's,Irving,Texas
109,110,Taco John's,Cheyenne,Wyoming
110,111,Texas de Brazil Churrascaria,Dallas,Texas
111,112,Cold Stone Creamery,Scottsdale,Arizon
112,113,Blaze Pizza,Pasadena,California
113,114,Peet's Coffee,Emeryville,California
114,115,Dickey's Barbecue Pit,Dallas,Texas
115,116,Zoes Kitchen,Plano,Texas
116,117,Corner Bakery_Cafe,Dallas,Texas
117,118,Krystal Co.,Dunwoody,Georgia
118,119,Benihana,Doral,Florida
119,120,Cooper's Hawk Winery & Restaurants,Countryside,Illinois
120,121,Big Boy/Frisch's Big Boy,Warren,Michigan
121,122,Black Bear Diner,Redding,California
122,123,Twin Peaks,Dallas,Texas
123,124,Schlotzsky's,Atlanta,Georgia
124,125,Jet's Pizza,Sterling Heights,Michigan
125,126,Famous Dave's,Minnetonka,Minnessota
126,127,On The Border Mexican Grill & Cantina,Irving,Texas
127,128,Fogo de Chao,Plano,Texas
128,129,Ninety Nine Restaurants,Woburn,Massachusetts
129,130,Village Inn,Denver,Colorado
130,131,Taco Cabana,Addison,Texas
131,132,Fleming's Prime Steakhouse & Wine Bar,Tampa,Florida
132,133,Caribou Coffee,Minneapolis,Minnessota
133,134,Jack's,Birmingham,Alabama
134,135,Au Bon Pain,Boston,Massachusetts
135,136,Bar Louie,Addison,Texas
136,137,Sarku Japan,New York,New York
137,138,Old Chicago Pizza & Taproom,Chattanooga,Tennessee
138,139,Rally's Hamburgers,Lexington,Kentucky
139,140,Torchy's Tacos,Austin,Texas
140,141,Pizza Ranch,Orange City,Idaho
141,142,Pappadeaux Seafood Kitchen,Houston,Texas
142,143,Braum's Ice Cream & Dairy Stores,Oklahoma City,Oklahoma
143,144,Pei Wei Asian Diner,Irving,Texas
144,145,Cafe Rio Mexican Grill,Salt Lake City,Utah
145,146,Morton's The Steakhouse,Houston,Texas
146,147,Smashburger,Denver,Colorado
147,148,Wienerschnitzel,Irvine,California
148,149,Sizzler,Mission Viejo,California
149,150,Seasons 52,Orlando,Florida

In [ ]:
Connect to a local database on Postgresql